# requirements.txt
torch>=2.0
transformers>=4.35
Pillow~=12.1.1
flask-sock
flask~=2.3.3
openai~=2.26.0

dnspython~=2.8.0
idna~=3.11
httpcore~=1.0.9
httpx~=0.28.1
cryptography~=49.0.0
anyio~=4.12.1
h11~=0.16.0
pip~=25.1.1
attrs~=26.1.0
distro~=1.9.0
pyOpenSSL~=26.4.0
filelock~=3.29.0
redis~=7.4.1
sniffio~=1.3.1
MarkupSafe~=3.0.3
Werkzeug~=3.1.6
click~=8.3.1
the-new-hotness~=1.4.1
Jinja2~=3.1.6
blinker~=1.9.0
itsdangerous~=2.2.0
jiter~=0.13.0
numpy~=2.4.2
charset-normalizer~=3.4.5
setuptools~=81.0.0
cffi~=2.1.0
websockets~=16.0
Pygments~=2.20.0
rich~=15.0.0
wsproto~=1.3.2
pydantic~=2.12.5
pandas~=3.0.3
aiohttp~=3.13.5
Twisted~=26.4.0
requests~=2.34.2
simple-websocket~=1.1.0
greenlet~=3.4.0
psutil~=7.2.2
email-validator~=2.3.0
annotated-types~=0.7.0
SQLAlchemy~=2.0.49
Flask-Login~=0.6.3
python-dotenv~=1.2.2
python-engineio~=4.14.0
bidict~=0.24.1
python-socketio~=5.17.0
Flask-SocketIO~=5.6.1

Flask
Flask-SQLAlchemy
Flask-Login
Flask-SocketIO
python-dotenv
Werkzeug
openai
pytest